body {
    background-color: grey;
}

#forecast-right {
    width:40%;
    height:auto;
    Background-color:green;
    
}

#forecast-left {
    width:40%;
    height:auto;
    Background-color:red;
}
